  <script>
   document.querySelector("#today").valueAsDate = new Date();
  </script>
    <footer>
    <p>All image credits: unsplash.com. Original content copyright &copy; 2019 <span class="blogger">mitsi g</span>. All rights reserved.</p>
  </footer>
  </body>
</html>
