
<header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/categories"> Categories</a></li>
        <li><a href="/articles"> Articles </a></li>
        <li><a href="/articles/new"> New Post</a></li>
      </ul>
    </nav>

  </header>
