<% include ../../partials/boilerplate %>
<% include ../../partials/reg-header %>

   All Articles
  </p>
</header>

<main>
  <div class="article-list">
    <% articles.forEach((article) => { %>
      <article>
        <header>
          <h2>
            <a href="/articles/<%= article.id%>"><%=article.category%></a>
          </h2>
          <p>
            Post from <%=article.article_date%> by mitsi g.
          </p>
        </header>
        <p>
          <%=article.article%>
        </p>
      </article>
    <% }) %>
  </div>
  <aside>
    <p>The Daily Cats. Because life is better with cats.</p>
    <div class="featured"></div>
    <div class="featured"></div>
  </aside>
</main>

<% include ../../partials/end %>
