<% include ../../partials/boilerplate %>
<% include ../../partials/reg-header %>

  <p>
   New Article
  </p>

</header>

<main class="add-one">
    <div class="view">

    <form action="/articles" method="POST">
      <p> Date: <input type="date" id="today" name="article_date" /></p>


      <div class="hide"><p>Optional Open Library Book # (Post MVP):</p>
      <p><input type="text" name="olid" placeholder="olid" /></p></div>

      <p>Category Selection:
      <select name="category_id">
        <% categories.forEach((category) => { %>
          <option value="<%=category.id %>"><%= category.category%> </option>
        <% }) %>
      </select>
      </p>
      <p>Article:</p>
      <textarea name="article" rows="8" cols="80" placeholder="Enter article text..."></textarea>
      <p><input type="submit" class="button" value="Submit" /></p>
    </form>

    </div>
    <aside>
      <p>The Daily Cats. Occasionally cuddly.</p>
      <div class="featured"></div>
      <div class="featured"></div>
  </aside>
</main>

<% include ../../partials/date-end %>
