<% include ../../partials/boilerplate %>
<% include ../../partials/reg-header %>

   New Article
  </p>
</header>

<main>
    <div class="add">

    <form action="/articles" method="POST">
      <p><input type="date" name="article_date" placeholder="Date" /></p>
      <textarea name="article" rows="8" cols="80" placeholder="Enter article here"></textarea>
      <p>Optional Open Library Book # (Post MVP):</p>
      <p><input type="text" name="olid" placeholder="olid" /></p>
      <p>Category Selection:</p>
      <select name="category_id">
        <% categories.forEach((category) => { %>
          <option value="<%=category.id %>"><%= category.category%> </option>
        <% }) %>
      </select> <br>
      <p><input type="submit" value="Add Article" /></p>
    </form>

    </div>
</main>

<% include ../../partials/end %>
