
<% include ../../partials/boilerplate %>

  <div class='blog-name'>
    <h1>THE LIFESTYLE BLOG OF MITSI G.</h1>
    <h2>NEW ARTICLE VIEW</h2>
  </div>

<div class="flex-edit-container">
  <div class="form-page">
    <div class="add">

    <form action="/articles" method="POST">
      <p><input type="text" name="article_date" placeholder="Date" /></p>
      <textarea name="article" rows="8" cols="80" placeholder="Enter article here"></textarea>
      <p>Optional Open Library Book # (Post MVP):</p>
      <p><input type="text" name="olid" placeholder="olid" /></p>
      <p>Category Selection:</p>
      <select name="category_id">
        <% categories.forEach((category) => { %>
          <option value="<%=category.id %>"><%= category.category%> </option>
        <% }) %>
      </select> <br>
      <p><input type="submit" value="Add Article" /></p>
    </form>

    </div>
  </div>
</div>
<% include ../../partials/end %>
