<% include ../../partials/boilerplate %>
<% include ../../partials/reg-header %>

   Article Details
  </p>
</header>

<div class="edit-button">
  <br>
  <form action="/articles/<%= article.id%>/edit" class='put' method="GET">
    <input type="submit" class="editlink" value="Edit">
  </form>
</div>

  <main>
    <header>
      <h2><%=article.category%></h2>
      <p>
        Post from <%=article.article_date%> by mitsi g.
      </p>
      <p><%=article.article%></p>
      <br>
    </header>
</main>
</div>

<% include ../../partials/end %>
