<% include ../../partials/boilerplate %>


<div class="flex-home-page">

    <div>
      <h1>WELCOME TO MITZI G's LIFESTYLE BLOG</h1>
    </div>

    <div class="div-home-page-img">
    </div>

</div>


<% include ../../partials/end %>
