<% include ../../partials/boilerplate %>


<div class="flex-home-page">

    <div>
      <h1>THE LIFESTYLE BLOG OF MITSI G.</h1>
    </div>

    <div class="div-home-page-img">
    </div>

</div>


<% include ../../partials/end %>
