<% include ../../partials/boilerplate %>
<% include ../../partials/reg-header %>

<p>
  All Categories
</p>

</header>


<main class="list">
    <div class="category-list">

    <% categories.forEach((category) => { %>
      <article>
        <header>
          <h2>
            <a href="/categories/<%= category.id %>"><%=category.category%></a>
          </h2>
        </header>
          <p>
            <%=category.description%>
          </p>
      </article>
    <% }) %>

  </div>
  <aside>
    <p>The Daily Cats. Because life is better with cats.</p>
    <div class="featured"></div>
    <div class="featured"></div>
  </aside>
</main>

<% include ../../partials/end %>
