<% include ../../partials/boilerplate %>
<form class="create-category" action="/categories" method="post">
  <h2>New Category</h2>
    <input type="text" name="category" placeholder="Enter new category" /><br>
    <input type="text" name="description" placeholder="Enter short description" /><br>
    <button type="submit">Submit</button>
</form>
<% include ../../partials/end %>


