<% include ../../partials/boilerplate %>
<% include ../../partials/reg-header %>

<p>
  New Category
</p>

</header>

<main class="add-one">
<div class="view">
  <form class="create-category" action="/categories" method="post">
    <p>Category: <input type="text" name="category" placeholder="Enter name..." /></p>
    <textarea name="description" rows="8" cols="80" placeholder="Enter description..."></textarea>
    <p><button class="button" type="submit">Submit</button></p>
  </form>
</div>
  <aside>
    <p>The Daily Cats. Occasionally cuddly.</p>
      <div class="featured"></div>
      <div class="featured"></div>
  </aside>
</main>

<% include ../../partials/end %>


