<% include ../../partials/boilerplate %>
<% include ../../partials/reg-header %>

<p>New Category</p>
</header>

<main>
<div class="add">
  <form class="create-category" action="/categories" method="post">
    <p><input type="text" name="category" placeholder="New category name" /></p>
    <textarea name="description" rows="5" cols="80" placeholder="Enter description"></textarea>
    <p><button type="submit">Submit</button></p>
  </form>
</div>
</main>

<% include ../../partials/end %>


