<% include ../../partials/boilerplate %>
<% include ../../partials/reg-header %>

  <p>
    Category Details
  </p>
</header>

  <div class="edit-button">
    <form action="/categories/<%= category.id%>/edit" class='put' method="GET">
      <input type="submit" class="editlink" value="Edit">
    </form>
  </div>

  <main>
    <div class="category-list">
      <article>
          <header>
            <h2><%=category.category%></h2>
          </header>
        <p><%=category.description%></p>
      </article>
    </div>
  </main>

<% include ../../partials/end %>
